/**************************************
*
* MENU
*
***************************************/
.header-banner-top {

  .hidden { display: none; }

  .main-navigation { }

  .horizontal-nav {
    ul { list-style: none; margin: 0; padding: 0; }
    li { display: inline-block;
      &:last-child {
        display:none;
      }}
    a { display: block; }
    button{
      display: inline-block;
      position: absolute;
    }

    // dropdown folders
    .folder {

      position: relative;
      cursor: pointer;

      ul {
        display: block;
        position: absolute;
        top: -9999px;
        left: 0;
        z-index: 999;
      }

      li { display:block;
      }

      &:hover ul {
        top: 100%;
      }

    }
  }

  // hide mobile menu toggle
  .mobile-menu-box,
  .mobile-menu-label {
    display: none;
  }

  .banner {

    position: relative;

    .primary-wrapper, .primary-wrapper-home {
      position: relative; // bring the text back on top
      width:100%;
      @include respond-to(xs) {
        width:80%;
        margin-left:20%;
      }
      @include respond-to(s) {
        width:50%;
        margin-left:50%;
      }

    }
  }
}

.header-banner-top {
  height: 100%;
  position: relative;
  overflow: hidden;
    .bg-header{
      background: url(../img/bg-accueil.jpg) center center;
      background-size: cover;
      transform: scale(1.1);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

  .main-navigation {
    background: transparent;
    border-bottom:2px solid #fff;
  }

  .horizontal-nav {
    li{
      padding: 15px 10px;
      a {
        color: $blanc;
        font-size: 18px;
        font-family: $font-titre;
        position:relative;
        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 0;
          height: 2px;
          background-color: $blanc;
          transition:all 0.5s ease;
        }
        &:hover, &:focus{
          text-decoration:none;
          &:after{
            width:20px;
          }
        }
      }
    }




    // dropdown folders
    .folder {
      ul {
        background-color: #222;
        transition: padding 0.14s ease-out;
        text-align: left;
      }

      a { padding: 0.5em 1em; white-space: nowrap; }

      &:hover ul {
        padding: 0.5em 0;
      }

    }
    //button
    button{
      top: 10px;
      right: 50px;
      font-size: 16px;
      font-family: $font-titre;
      border-radius: 50px;
    }

  }

  .banner {
    text-align: center;
    background-color: transparent;


    .primary-wrapper-home {
      padding-top: 150px;
      padding-bottom: 150px;
    }
    .primary-wrapper {
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .site-title img{
        width:50%;
    }

    .site-tagline{
      color: #fff;
      letter-spacing: 1px;
      margin: 0 20%;
      font-family:$font-titre;
      span{
        font-size:30px;
      }
      h1,p{
        font-size: 22px;
      }

    }

  }

}
/*********RESPONSIVE MOBIL***********/
@media screen and (max-width: 750px) {
  .header-banner-top {

    // mobile menu
    .horizontal-nav { overflow: hidden; height: 0; }
    .mobile-menu-box { display: none; }
    .mobile-menu-label { display: block !important; cursor: pointer; }
    .mobile-menu-label:before { content: 'Menu'; }

    .mobile-menu-box:checked {
      ~ .horizontal-nav { height: auto; }
      ~ .mobile-menu-label:before { content: 'Close'; }
    }

    .horizontal-nav {

      li { display: block;
        &:last-child {
          display:block;
        }}
      button{display:none;}
      // folder toggles

      .folder ul {
        position: static;
      }
      .folder-toggle-label a:before { content: '+ '; }
      .folder-toggle-box:checked ~ .folder-toggle-label a:before { content: '- '; }
      .folder:hover ul, .folder-toggle-box ~ ul { display: none; }
      .folder-toggle-box:checked ~ ul {
        display: block;
      }

    }
  }
}
@media screen and (max-width: 750px) {
  .header-banner-top {

    .horizontal-nav {
      a { padding: 0.75em 1em; }
      > ul > li:first-child a { padding-top: 2em; }
      > ul > li:last-child a { display :block; padding-bottom: 2em; }

      li { display: block; }

      // folder toggles

      .folder ul {
        text-align: center;
        padding: 0.5em 0;
        margin: 0.5em 0;
        transition: none;
        background-color: #292929;
      }
      .folder:hover ul { padding: 0.5em 0; }
      .folder-toggle-label a { cursor: pointer; }

    }

    .mobile-menu-label {
      color: $blanc;
      text-align:center;
      background-color:transparent;
      padding: 0.5em 1em;
      font:{
        family: $font-titre;
        size: 1.5em;
      }

    }

    .mobile-menu-box:checked ~ .mobile-menu-label {
      color: $blanc;

    }

    .mobile-menu-box:checked {
      ~ .horizontal-nav { padding: 1em 0; }
      ~ .mobile-menu-label:before { content: 'Fermé'; }
    }

  }
}
