{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Bienvenu sur</span> GoVélo</h1>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
