/*TYPO*/
$font-Arial: "Arial", "Open Sans", sans-serif;
$font-titre : 'Neon 80s';
$font-text: 'source sans';

/*COLOR*/
$bleu: #0B9CB3;
$bleu-clair: #BCE0FD;
$vert: #80C262;
$lightgrey: #f2f2f2;
$grey: #727272;
$noir: #404040;
$blanc: #fff;

//Others
//$header-height: 90px;
