{% extends 'base.html.twig' %}

{% block body %}
    <div id="assurance">
        <div class="page-content">
            <h1>Notre partenaire assurance</h1>
            <h2 style="text-align:center;">PAGE EN COUS DE RÉALISATION</h2>
        </div>
    </div>
{% endblock %}
