{% extends 'base.html.twig' %}

{% block body %}
    <div id="bonnes-pratiques">
        <div class="page-content">
            <h1>Les bonnes pratiques de la location</h1>
            <p>Ici nous allons vous apportez nos conseils pour effectuer une location en toute sécurité</p>
            <h2>Le cadenas</h2>
        </div>
    </div>
{% endblock %}
