{% extends 'base.html.twig' %}

{% block body %}
    <div id="bonnes-pratiques">
        <div class="page-content">
            <h1>Les bonnes pratiques de la location</h1>
            <p>Ici nous allons vous apportez nos conseils pour effectuer une location en toute sécurité</p>
            <h2>Donner de vrais informations</h2>
            <p>Complétez votre profil avec de vrais informations et une vraie photo (ne vous inquiétez pas ! Aucune de vos informations personnelles ne sera utilisée à des fins publicitaires ou revendues).
                Pour votre vélo il en est de même, ne mettez pas de photos d’un autre vélo. Expliquez dans la description de l’annonce l’état actuel du vélo ainsi que toutes ses caractéristiques afin de convaincre vos futures locataires !
            </p>
            <h2>Être certifié</h2>
            <p>
                Construisez la confiance et boostez votre profil pour faire plus de locations ! Devenez membre certifié en renseignant votre téléphone, carte d’identité, attestation de responsabilité civile (informations privés) et en acceptant toutes les conditions d’utilisation pour rassurer votre loueur. Il est également conseillé d’avoir un papier d’identité sur soi au moment de votre rencontre.
            </p>
            <h2>Comment payer ?</h2>
            <p>Nous vous avons mis en place plusieurs choix de paiement, paiement par carte bancaire et par Paypal.
                Soyez assuré d’avoir votre moyen de paiement en cours de validité.
            </p>
            <h2>Laisser des avis honnêtes</h2>
            <p>Laissez des avis honnêtes sur les profils des utilisateurs avec qui vous avez effectuées des locations. Soyez sérieux dans vos propos et ne soyez ni trop indulgent ni trop sévère.
                Avant la mise en ligne des commentaires nous nous assurons qu’ils ne comportent aucun propos haineux, raciste ou déplacé.
            </p>
            <h2>Être fiable sur les locations</h2>
            <p>Propriétaire ? Locataire ? Soyez à l'heure au point de rendez-vous. Vérifiez ensemble l’état du vélo en début de location et en fin. Ne soyez pas en retard pour rendre le vélo, cela apportera une pénalité à votre profil, prenez en soin comme si c'était le votre, le propriétaire vous fait confiance.
                Et surtout rendez le vélo si vous ne voulez pas rentrer dans des procédures judiciaires.
            </p>
            <h2>Fixer le prix juste</h2>
            <p>N’oublions pas que vous louez votre vélo a un particulier dans un but collaboratif. Ne soyez pas trop gourmand lorsque vous fixerez le prix de la location.
                Elle doit être en cohérence avec le type de véhicule, l’état du véhicule ainsi que son âge.
            </p>
            <h2>Le cadenas ? La sécurité !</h2>
            <p>La sécurité avant tout ! Avec un cadenas de bonne qualité facile de dissuader les voleurs.
                Et en plus cela rassure le locataire ! Nous te conseillons un cadena U, plus sécurisé.
            </p>
            <h2>Ne pas déclarer un litige inutile</h2>
            <p>Vous avez eu un problème avec le vélo ? Le propriétaire ? Le locataire ? Tentez avant tout de le résoudre à l’amiable. Il
                peut être plus coûteux en temps et en argent de rentrer dans des procédures supplémentaire pour une petite rayure.
            </p>
            <h2>En cas de vol, que faire ?</h2>
            <p>On espère pas que cela vous arrivera mais si c’est le cas, effectuer un dépôt de plainte qui peut se
                faire dans un commissariat de police, une brigade de gendarmerie ou directement auprès du procureur
                dans les 24H. Une pré-plainte peut directement s’effectuer en ligne sur
                <a href="https://www.pre-plainte-en-ligne.gouv.fr">le site du gouvernement</a>
                <br/>
                Sachez aussi qu’une partie des dégradations ou accidents peuvent être pris en compte dans un dédommagement
                grâce à notre assurance partenaire. Veuillez nous contacter pour déclarer le sinistre.
            </p>
        </div>
    </div>
{% endblock %}
