{% extends 'base.html.twig' %}

{% block body %}
    <div id="cgv">
        <div class="page-content">
            <h1>Conditions générales d'utilisation</h1>
        </div>
    </div>
{% endblock %}
