{% extends 'base.html.twig' %}

{% block body %}
    <div id="assurance">
        <div class="page-content">
            <h1>Guide d'utilisation de l'application</h1>
        </div>
    </div>
{% endblock %}
